{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
            <a href="{% url 'new_printer' %}" class="btn btn-primary">Nueva impresora</a>
            </div>
        </div>
        <div class="row col-12">
            <table class="table table-striped table-primary">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Número de serie</th>
                        <th>Marca</th>
                        <th>Wifi?</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Fecha Creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for printer in printers %}
                        <tr>
                            <td>{{ printer.id }}</td>
                            <td>{{ printer.name }}</td>
                            <td>{{ printer.description }}</td>
                            <td>{{ printer.serial_number }}</td>
                            <td>{{ printer.brand }}</td>
                            <td>{{ printer.is_wifi }}</td>
                            <td>{{ printer.price }}</td>
                            <td>{{ printer.stock }}</td>
                            <td>{{ printer.created_at }}</td>
                            <td>
                                <a href="{% url 'show_printer' printer.id %}" class="btn btn-sm btn-primary">Ver</a>
                                <a href="{% url 'edit_printer' printer.id %}" class="btn btn-sm btn-warning">Editar</a>
                                <a href="{% url 'destroy_printer' printer.id %}" 
                                    onclick="return confirm('Are you sure you want to delete this item?');" 
                                    class="btn btn-sm btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
