{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Detalle de prodcuto</h1>
        <div class="row">
            <div class="col-6">
                {% if printer.image %}
                  <img src="{{ printer.image.url }}" alt="printer image" class="w-100"/>
                {% endif %}
            </div>
            <div class="col">
                <div class="d-flex flex-column">
                    <div class="row">
                        <p>Nombre: {{ printer.name }}</p>
                        <p>Descripcion: {{ printer.description }}</p>
                        <p>Marca: {{ printer.brand }}</p>
                        <p>Numero de serie: {{ printer.serial_number }}</p>
                        <p>Wifi: {{ printer.is_wifi }}</p>
                        <p>Price: {{ printer.price }}</p>
                        <p id="stock_label">Stock: {{ printer.stock }}</p>
                    </div>
                </div>
                <p class="fs-4">Cantidad:</p>
                <div class="d-flex flex-row">
                    <button id="minus">
                        <i class="fa fa-circle-minus"></i>
                    </button>
                    <label id="cart_quantity" class="px-2 fs-4">1</label>
                    <button id="plus">
                        <i class="fa fa-circle-plus"></i>
                    </button>
                </div>
                <button value="1" id="add_to_cart" class="btn btn-success">
                    Agregar al carrito de compras <i class="fa-solid fa-cart-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row col-2">
        <a href="{% url 'home' %}" class="btn btn-primary">Inicio</a>
    </div>
    <script>
        $(function() {
          const stock = {{ printer.stock }}
          if(stock == 0) {
            $("#stock_label").addClassif('badge bg-danger');
          }
          $("#minus").click(function() {
            let quantity = $("#add_to_cart").val();
            if(quantity > 0){
              quantity --;
              $("#add_to_cart").val(quantity)
              $("#cart_quantity").text(quantity);
            }
        
          })
          $("#plus").click(function() {
            let quantity = $("#add_to_cart").val();
            if(quantity >= 0 && quantity < stock){
              quantity ++;
              $("#add_to_cart").val(quantity)
              $("#cart_quantity").text(quantity);
            }
        
          });
          if(stock <= 0) $("#add_to_cart").attr("disabled", "disabled");
        
          $("#add_to_cart").click(function() {
            const quantity = $(this).val();
            const product_id = {{ printer.id }}
            window.location.href = "/add_to_cart?quantity=" + quantity + "&product_id="+ product_id
          })
        })
    </script>
{% endblock content %}
