{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row row-cols-3">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Imagen Alumno">
                    <div class="card-body">
                        <h5 class="card-title">Erick Kunz</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Analista Programdor</h6>
                        <p class="card-text">Alumnno de INACAP</p>
                    </div>
                    <div class="card-footer">
                        <p class="fw-lighter">Programción Backend</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Imagen producto">
                    <div class="card-body">
                        <h5 class="card-title">Diego Aguilef</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Analista Programdor</h6>
                        <p class="card-text">Alumnno de INACAP</p>
                    </div>
                    <div class="card-footer">
                        <p class="fw-lighter">Programción Backend</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
